body{
    height: 100%;
    margin: 0;
}
#text{
    margin: 10px;
    height: 25px;
    width: 200px;
    
}
p{
    text-align: center;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
#div2{
    height: 50vh;
    width: 35vh;
    align-content: center;
    position: absolute;
    left: 30%;
    background-color: antiquewhite;
    padding-left: 100px;
    border-radius: 15px;
}
#register{
    margin-top: 10PX;
    height: 30PX;
    margin-left: 60px;
    background-color: rgb(243, 238, 232);
    border-color: rgb(110, 110, 91);
    border-radius: 5px;
}
